:root {
    --size-10:0.625rem;
    --size-12:0.75rem;
    --size-14:0.875rem;
    --size-16:1rem;
    --size-18:1.125rem;
    --size-20:1.25rem;
    --size-30:1.875rem;
    --size-40:2.5rem;
    --size-50:3.125rem;
    --size-75: 4.6875rem;
    --size-100:6.25rem;
    --size-150:9.375rem;
    --size-200:12.5rem;
}

html{ scroll-behavior: smooth; }

ul{
    display: list-item;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

li { margin: 0 var(--size-30); }

a { text-decoration: none; }
h1, p {margin: 0;}

body {
    font-family: "REM", sans-serif;
    font-weight: 400;
    font-size: var(--size-14);
    line-height: 1.6;
    letter-spacing: 0;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    /*to keep content centered */
    margin-left: auto;
    margin-right: auto;
}

